{{#if editing}}
  {{doctor-edit/form updateDoctor='updateDoctor' toggleEditing='toggleEditing' doctor=doctor}}
{{else}}
  <b>Name</b>: {{doctor.name}}<br>
  <b>Specialty</b>: {{doctor.specialty}}<br>
  <b>Hospital</b>: {{doctor.hospital}}<br>
  <b>Location</b>: {{doctor.location}}<br>
  <button {{action 'toggleEditing' doctor}} class='btn-xl btn-primary'>Edit</button>
  <button {{action 'deleteDoctor' doctor}} class="btn-xl btn-danger">Delete</button>
{{/if}}
