{{#bs-navbar class='navBackground' type=(if inverse 'inverse') fluid=fluid collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "application" class="navbar-brand"}}<span class='blackFont hover'>Home</span>{{/link-to}}
    {{#if isAuthenticated}}
    {{/if}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav class='navbar-right' as |nav|}}
      {{#if isAuthenticated}}
      {{#link-to "doctors" class="navbar-brand"}}<span class='blackFont hover'>Doctors</span>{{/link-to}}
        {{#nav.item}}{{#nav.link-to "change-password"}}<span class='blackFont hover'>Change Password</span>{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}<a href="#" {{action "signOut"}}><span class='blackFont hover'>Sign Out</span></a>{{/nav.item}}
      {{else}}
        {{#nav.item}}{{#nav.link-to "sign-up"}}<span class='blackFont hover'>Sign Up</span>{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "sign-in"}}<span class='blackFont hover'>Sign In</span>{{/nav.link-to}}{{/nav.item}}
      {{/if}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

<h1>Welcome {{user}}!</h1>

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
