{{#if editing}}
  {{single-doctor/form updateDoctor='updateDoctor' toggleEditing='toggleEditing' doctor=doctor}}
{{else}}
<li><label>Name: </label>{{doctor.name}}</li>
<label>Specialty: </label>{{doctor.specialty}}<br>
<label>Hospital: </label>{{doctor.hospital}}<br>
<label>Location: </label>{{doctor.location}}<br>
<button {{action 'toggleEditing' doctor}} class='btn-xs btn-primary'>Edit</button>
<button {{action 'deleteDoctor' doctor}} class="btn-xs btn-danger">Delete</button>
{{/if}}
