<div>
<form {{action 'createDoctor' model on='submit'}}>
  <label>Name</label>{{input placeholder="Name" type='text' value=model.name required=true}}
  <label>Specialty</label>{{input placeholder="Specialty" type='text' value=model.specialty required=true}}
  <label>Hospital</label>{{input placeholder="Hospital" type='text' value=model.hospital required=true}}
  <label>Location</label>{{input placeholder="Location" type='text' value=model.location required=true}}
  <button class='btn-xl btn-primary' type='submit'>Add Doctor</button>
</form>
</div>
