{{#if editing}}
  {{doctors-list/patient/form patient=patient updatePatient='updatePatient'
                                      toggleEditing='toggleEditing'
                                      editForm=true}}
{{else}}
<br>
<li><label>Patient Name: </label> {{patient.name}}<br></li>
  <label>Age: </label> {{patient.age}}<br>
  <label>Weight: </label> {{patient.weight}}<br>
  <label>Glucose: </label> {{patient.glucose}}<br>
  <label>Test Type: </label> {{patient.test}}<br>
  <button class='btn btn-danger' {{ action 'deletePatient' }}>Delete</button>
  <button class='btn btn-primary' {{ action 'toggleEditing' }}>Edit</button>
  <br>
{{/if}}
