<br>
<form {{action 'createDoctor' model on='submit'}}>
  {{input placeholder="Name" value=model.name type='text' required=true}}
  {{input placeholder="Specialty" value=model.specialty type='text' required=true}}
  {{input placeholder="Hospital" value=model.hospital type='text' required=true}}
  {{input placeholder="Location" value=model.location type='text' required=true}}
  <br>
    <button class='btn-xs btn-primary' type='submit'>Create Doctor</button>
    {{#link-to 'get-doctors' tagName='button'}}Back{{/link-to}}
</form>
